* {
    margin: 0;
    padding: 0;
}

/**
 * ---- 共通パーツ -----------------------------------------------
 */
button.process_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}
button.process_btn:hover {
    background: #67c5ff;
    color: white;
}

button.danger_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #ff4444;
    border: solid 2px #ff4444;
    border-radius: 3px;
    transition: .4s;
}
button.danger_btn:hover {
    background: #ff4444;
    color: white;
}

input.textbox{
    width: 250px;
    padding: 5px 8px;
    border-radius: 6px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    background-image: none;
    font-size: 16px;
}

/**
 * ---- ブロック別 -----------------------------------------------
 */
 header {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    padding: 20px 50px;
    font-size: xx-large;
}

#contents {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    flex-wrap: wrap;
}
#replaceArea {
    display: flex;
    width: 98vw;
    margin: 0 auto;
}
#leftContents {
    width: calc(50% - 25px);
    padding: 10px;
    border: 1px solid #000000;
}
#leftContents textarea {
    width: 100%;
    height: calc(100% - 25px);
}

#rightContents {
    width: calc(50% - 25px);
    padding: 10px;
    border: 1px solid #000000;
}
#rightContents textarea {
    width: 100%;
    height: calc(100% - 25px);
}

#currentList {
    display: flex;
    width: 100vw;
}
#currentList table{
    border-collapse:collapse;
    margin:30px auto;
}
#currentList td,th{
padding:10px;
border-bottom:1px solid #ccc;
}
#currentList th{
color:#fff;
background:#005ab3;
}
#currentList table tr td:nth-child(odd){
background:#e6f2ff;
}
